
<!-- IMPORT DO HEADER -->
<%- include('partials/header.ejs')  %>

    <title>TESTE EJS</title>

</head>

<body>
    
    <h1>TESTE EJS - RENDERIZAÇÃO!!!</h1>

</body>

<!-- IMPORT DO FOOTER -->
<%- include('partials/footer.ejs')  %>